<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-nav-title>{{cdc.room.name}}</ion-nav-title>
  <ion-content class="padding">
    <img ng-src="{{cdc.room.face}}" style="width: 64px; height: 64px">
    <p>
      {{cdc.room.desc}}
    </p>
    <div ng-repeat="message in cdc.messages" class="row" ng-class="{ 'dark' : message.from === 'me' }">
      {{message.from}} (<span am-time-ago="message.timeStamp"></span>) : {{message.content}}
    </div>
  </ion-content>
  <ion-footer-bar class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon placeholder-icon ion-chatbubble" ng-class="{'ion-chatbubble-working' : cdc.message}"></i>
      <input type="text" placeholder="Message" ng-model="cdc.message">
    </label>
    <button class="button button-clear" ng-click="cdc.send(cdc.message)">
      Send
    </button>
  </ion-footer-bar>
</ion-view>
