<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="room in cc.chatRooms"
                type="item-text-wrap" href="#/tab/chats/{{room.name}}">
        <img ng-src="{{room.face}}">
        <h2>{{room.name}}</h2>
        <p>{{room.desc}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<button class="button button-assertive" ng-click="remove(chat)">-->
          <!--Delete-->
        <!--</button>-->
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="item-input item-floating-label col col-50">
            <span class="input-label">Room Name</span>
            <input type="text" placeholder="Room Name" ng-model="cc.name">
          </div>
          <div class="item-input item-floating-label col col-50">
            <span class="input-label">Description</span>
            <input type="text" placeholder="Description" ng-model="cc.desc">
          </div>
        </div>
        <button class="button button-full button-balanced" ng-click="cc.addRoom(cc.name, cc.desc)">
          Add chat room
        </button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
