<ion-view view-title="Account">
  <ion-content>
    <!--Login-->
    <div ng-if="ac.state == 'login'">
      <div class="bar">
        <h1 class="title">Login</h1>
      </div>
      <br><br>
      <form ng-submit="ac.login(loginemail, loginpassword)">
        <ion-list>
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Email" ng-model="loginemail">
            </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="Password" ng-model="loginpassword">
            </label>
          </div>
          <button ng-disabled="!loginemail || !loginpassword" class="button button-full button-positive">
            Submit
          </button>
        </ion-list>
      </form>
      <div class="button button-full" ng-click="ac.FBlogin()" style="background-color: #3b5998; color: white">
        <i class="ion-social-facebook" style="font-size: large"></i>
        Log in with Facebook
      </div>
      <div class="button button-full button-assertive" ng-click="ac.Googlelogin()">
        <i class="ion-social-google" style="font-size: large"></i>
        Log in with Google
      </div>
      <div class="button button-full button-balanced" ng-click="ac.togglereg()">Create an account</div>
    </div>

    <!--Register User-->
    <div ng-if="ac.state == 'reg'">
      <div class="bar">
        <h1 class="title">New User</h1>
      </div>
      <br><br>
      <form name="regForm" ng-submit="ac.register(firstname, lastname, registeremail, registerusername, registerpassword)">
        <ion-list>
          <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input id="firstname" name="firstname" class="form-control" type="text" placeholder="First Name" ng-model="firstname" ng-model-options="{updateOn: 'blur'}">
            <span class="assertive" ng-if="(regForm.firstname.$touched || regForm.$submitted) && !firstname">First name is required</span>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input id="lastname" name="lastname" class="form-control" type="text" placeholder="Last Name" ng-model="lastname" ng-model-options="{updateOn: 'blur'}">
            <span class="assertive" ng-if="(regForm.lastname.$touched || regForm.$submitted) && !lastname">ERROR</span>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input id="registeremail" name="registeremail" class="form-control" type="email" placeholder="Email" validateEmail ng-model="registeremail" ng-model-options="{updateOn: 'blur'}">
            <span class="assertive" ng-hide="regForm.registeremail.$untouched || regForm.registeremail.$valid">Invalid email</span>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input name="registerusername" type="text" placeholder="Username" ng-model="registerusername">
            <span class="assertive">ERROR</span>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input name="registerpassword" type="password" placeholder="Password" ng-model="registerpassword">
            <span>ERROR</span>
          </label>
          <button ng-disabled="!firstname || !lastname || !registeremail || !registerusername || !registerpassword" class="button button-full button-positive">
            Submit
          </button>
        </form>
      <div class="button button-balanced button-full" ng-click="ac.togglereg()">Already have an account? Click here to sign in.</div>
    </div>
    </ion-list>

    <!--Log out -->
    <div ng-if="ac.state == 'loggedin'">
      <div class="bar">
        <h1 class="title">Log Out</h1>
      </div>
      <br><br>
      <form>
        <ion-list>
          <button class="button button-full button-assertive" ng-click="ac.logout()">Click here to log out</button>
        </ion-list>
      </form>
    </div>

  </ion-content>
</ion-view>
